@model parcial.Models.cajero
@{
    ViewBag.Title = "Error";
}

<h2>Error!</h2>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p>No puedes retirar el dinero</p>
    <hr>
</div>
